.box-term{
    padding: 22px;
}

.term-container{
    margin: 10px;
    padding: 24px;
}

.term-container h1{
    margin-left: 20px;
}

.term-container hr{
    margin-bottom: 0 !important;
}

.terms{
    margin:20px;
}

.terms b{
    font-size: 20px;
    margin-bottom: 5px;
}
